@charset "UTF-8";
/* Обнуление стилей*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------ */
@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Gilroy-Medium';
  font-weight: 500;
  font-size: 18px;
  color: #070707;
}

.container {
  padding: 0 15px;
  max-width: 973px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #070707;
}

.text {
  line-height: 21px;
  text-align: center;
  color: #070707;
}

/* HEADER */
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}

.menu {
  border-bottom: 1px solid #828282;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list-link {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #828282;
}

.menu__list-link:hover {
  color: #070707;
}

.focus {
  color: #070707;
}

.mobile {
  display: none;
}

.navigation {
  display: none;
}

/* MAIN */
.main {
  margin-top: 128px;
  padding: 0 0 104px 0;
}

.main__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 31px;
}

.main__descr-title {
  font-family: 'Gilroy-Bold';
  font-size: 34px;
  line-height: 42px;
  max-width: 124px;
}

.main__descr-text {
  line-height: 21px;
  max-width: 156px;
}

.main__descr-lang {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: -24px;
}

.main__descr-lang span {
  font-family: 'Gilroy-Bold';
  font-weight: 700;
}

.descr-lang__switch {
  font-size: 16px;
  line-height: 19px;
  color: #828282;
}

.active {
  font-weight: 700;
  color: #070707;
}

.descr-lang__switch:hover {
  font-weight: 700;
  color: #070707;
}

.main__img img {
  display: block;
  width: 100%;
}

.main__mobile {
  display: none;
}

/* ABOUT */
.about {
  padding: 120px 0 107px 0;
  background-color: #f6f6f6;
}

.about__title {
  margin-bottom: 18px;
}

.about__text {
  max-width: 485px;
  margin: 0 auto;
}

.about__text:not(:last-child) {
  margin-bottom: 50px;
}

/* SKILL */
.skill {
  padding: 91px 0 110px 0;
}

.skill__title {
  margin-bottom: 70px;
}

.skill__text {
  margin-bottom: 83px;
}

.skill .inner-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.skill .inner-skill .item-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill .inner-skill .item-skill__img {
  margin-bottom: 24px;
}

.skill .inner-skill .item-skill__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #828282;
  margin-bottom: 34px;
}

/* PORTFOLIO */
.portfolio {
  padding: 113px 0 99px 0;
  background-color: #f6f6f6;
}

.portfolio__title {
  margin-bottom: 47px;
}

.portfolio .item-portfolio {
  text-align: center;
}

.portfolio .item-portfolio__img {
  margin-bottom: 45px;
}

.portfolio .item-portfolio__img img {
  width: 100%;
}

.portfolio .item-portfolio__link {
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.portfolio .item-portfolio:not(:last-child) {
  padding-bottom: 99px;
}

/* CONTACTS */
.contacts {
  text-align: center;
  padding: 114px 0 123px 0;
}

.contacts__title {
  margin-bottom: 20px;
}

.contacts__text {
  max-width: 275px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.contacts__btn {
  display: inline-block;
  padding: 10px 30px 10px 30px;
  background-color: #000;
  border-radius: 50px;
  color: #fff;
  margin-bottom: 96px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.contacts__btn:hover {
  background-color: #2c2626;
}

.contacts .social-contacts {
  margin-bottom: 46px;
}

.contacts .social-contacts__link:not(:last-child) {
  margin-right: 61px;
}

.burger {
  display: none;
}

/* MOBILE */
@media (max-width: 767.9px) {
  .shadow {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  body.lock {
    overflow: hidden;
  }
  .menu {
    padding: 25px 0 25px 0;
    border: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 33px;
    height: 20px;
  }
  .burger span {
    width: 100%;
    position: absolute;
    background-color: #000;
    height: 4px;
    top: 8px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .burger:after,
  .burger:before {
    content: '';
    width: 100%;
    position: absolute;
    background-color: #000;
    height: 4px;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
  }
  .burger:before {
    top: 0;
  }
  .burger:after {
    bottom: 0;
  }
  .burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .menu__list {
    background-color: #000;
    position: fixed;
    display: block;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #fff;
    overflow: auto;
    border-bottom: none;
    left: -100%;
    -webkit-transition: left .2s linear;
    transition: left .2s linear;
    padding-left: 26px;
  }
  .menu__list-item {
    margin-bottom: 66px;
  }
  .menu__list-item a {
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
  }
  .menu__list.act {
    left: 0;
  }
  .burger.togle:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 8px;
  }
  .burger.togle:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 8px;
  }
  .burger.togle span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .main__descr {
    display: block;
    margin-bottom: 10px;
  }
  .main__img {
    display: none;
  }
  .main__mobile {
    display: block;
  }
  .main__mobile img {
    display: block;
    width: 100%;
  }
  .main {
    margin-top: 135px;
    padding-bottom: 83px;
  }
  .main__descr-title {
    display: none;
  }
  .main__descr-title.mobile {
    display: block;
  }
  .top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .mob {
    padding: 83px 0 83px 0;
  }
  .portfolio .item-portfolio:not(:last-child) {
    padding-bottom: 70px;
  }
  .contacts .social-contacts__link:not(:last-child) {
    margin-right: 51px;
  }
  .skill__title {
    margin-bottom: 50px;
  }
  .skill__text {
    margin-bottom: 70px;
  }
  .skill .inner-skill {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skill .inner-skill .item-skill:not(:last-child) {
    margin-bottom: 81px;
  }
  .main__descr-lang.navigation {
    display: block;
    position: absolute;
    right: 0;
    bottom: 110px;
    font-size: 34px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .main__descr-lang.navigation a {
    font-size: 34px;
  }
  .main__descr-lang {
    display: none;
  }
}
